body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    padding: 8px 32px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
    color: #f9faf8;
    background-color: #3882f6;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2037;
    padding: 16px;
}

.header-links {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-links a {
    color: #e5E7eb;
    font-size: 18px;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    color: #f9faf8;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 96px;
    flex-wrap: wrap;
    background-color: #1F2037;
    color: #f9faf8;
    font-size: 18px;
}

.welcome-text h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.welcome-text p {
    color: #e5E7eb;
    margin: 0;
    margin-bottom: 12px;
}

.welcome-text {
    flex: 1;
    min-width: 200px;
    max-width: 500px;
}

.welcome-img {
    width: 500px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 96px;
}

.cards h1 {
    font-size: 36px;
    margin: 48px 0;
}

.cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
    padding: 0 32px;
}

.card {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
    font-size: 18px;
}

.card img {
    max-width: 100%;
    border: 3px solid #3882f6;
    border-radius: 16px;
}

.quote {
    background-color: #e5E7eb;
    display: flex;
    justify-content: center;
    padding: 64px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    width: 850px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
}

.quote-author {
    margin-left: auto;
    font-size: 24px;
}

.signup {
    display: flex;
    justify-content: center;
    padding: 96px;
}

.signup-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    width: 1080px;
    border-radius: 8px;
    padding: 48px;
}

.signup-container button {
    border: 2px solid white;
}

.signup-text-main {
    color: #f9faf8;
    font-weight: 700;
    font-size: 24px;
}

.signup-text-sub {
    color: #f9faf8;
    font-size: 18px; 
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    color: white;
    padding: 32px;
    font-size: 18px;
}